<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot & Thymeleaf File Upload</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>

<section class="my-5">
    <div class="container">
        <a th:href="@{/}">
            <button type="button" class="btn btn-primary">Regresar</button>
        </a>
        <div class="row">
            <div class="col-md-8 mx-auto">
                <table class="table">
                    <tbody>
                        <tr>
                            <td>
                                <p><span th:text="${'Registros que coninciden: ' + equals}"></span></p>
                            </td>
                            <td>
                                <p><span th:text="${'Registros que NO coninciden:' + diff}"></span></p>
                            </td>
                        </tr>
                        <tr>
                            <td><a th:href="@{/download/{name}(name=${fileEquals})}">
                                <button type="button" class="btn btn-success btn-sm">Iguales</button>
                            </a></td>
                            <td><a th:href="@{/download/{name}(name=${fileDiff})}">
                                <button type="button" class="btn btn-success btn-sm">Diferentes</button>
                            </a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

</body>
</html>